= form_with(model: product, local: true) do |form|
  - if product.errors.any?
    #error_explanation
      %h2
        = pluralize(product.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - product.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    = form.text_area :title
  .field
    = form.label :content
    = form.text_area :content
  .field
    = form.label :categories
    = form.select :categories, ['sample1', 'sample2', 'sample3'], {}, {:name => 'product[categories][]'}
    = form.select :categories, ['sample1', 'sample2', 'sample3'], {}, {:name => 'product[categories][]'}
    = form.select :categories, ['sample1', 'sample2', 'sample3'], {}, {:name => 'product[categories][]'}
  .actions
    = form.submit
